/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px "Open Sans", Arial, Helvetica, sans-serif; background:#fff; color:#333; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font:400 14px/1.2 "Open Sans", Arial, Helvetica, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit], button     { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px "Open Sans", Arial, Helvetica, sans-serif; color:#333; text-decoration:none; }
a:hover                        { color:#f47c52; text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn, button {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
a[href^=mailto]:hover {
    text-decoration: none;
}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.content-box {
    max-width: 1020px;
}
.half-wrap {
    float: left;
    width: 50%;
}
.title {
    padding-top: 20px;
    margin-bottom: 16px;
    font-size: 30px;
}
.sub-title {
    padding-top: 15px;
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
}
.description {
    margin-bottom: 30px;
    font-size: 1em;
    line-height: 1.5;
}
.title,
.description {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.description p {
    margin-bottom: 8px;
}
.description p:last-child {
    margin-bottom: 0;
}

.orange-bg {
    color: #fff;
    background: rgba(234,113,97,1);
    background: -moz-linear-gradient(45deg, rgba(234,113,97,1) 0%, rgba(244,125,82,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(234,113,97,1)), color-stop(100%, rgba(244,125,82,1)));
    background: -webkit-linear-gradient(45deg, rgba(234,113,97,1) 0%, rgba(244,125,82,1) 100%);
    background: -o-linear-gradient(45deg, rgba(234,113,97,1) 0%, rgba(244,125,82,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(234,113,97,1) 0%, rgba(244,125,82,1) 100%);
    background: linear-gradient(45deg, rgba(234,113,97,1) 0%, rgba(244,125,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea7161', endColorstr='#f47d52', GradientType=1 );
}
    .orange-bg a {
        color: #fff;
    }
    .orange-bg a:not([href^=mailto]):hover {
        text-decoration: none;
        color: #c93f46;
    }

.btn, a.btn, .btn-box a {
    display: inline-block;
    min-width: 165px;
    max-width: 100%;
    min-height: 50px;
    padding: 13px 35px 15px;
    font-size: 18px;
    line-height: 1.25;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-transform: none;
    border: none;
    box-shadow: none;
    background: rgba(63,145,245,1);
    background: -moz-linear-gradient(-45deg, rgba(63,145,245,1) 0%, rgba(154,110,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(63,145,245,1)), color-stop(100%, rgba(154,110,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(63,145,245,1) 0%, rgba(154,110,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(63,145,245,1) 0%, rgba(154,110,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(63,145,245,1) 0%, rgba(154,110,255,1) 100%);
    background: linear-gradient(135deg, rgba(63,145,245,1) 0%, rgba(154,110,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f91f5', endColorstr='#9a6eff', GradientType=1 );
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
.btn:hover, a.btn:hover, .btn-box a:hover {
    text-decoration: none;
    background: rgba(234,113,97,1);
    background: -moz-linear-gradient(45deg, rgba(234,113,97,1) 0%, rgba(244,125,82,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(234,113,97,1)), color-stop(100%, rgba(244,125,82,1)));
    background: -webkit-linear-gradient(45deg, rgba(234,113,97,1) 0%, rgba(244,125,82,1) 100%);
    background: -o-linear-gradient(45deg, rgba(234,113,97,1) 0%, rgba(244,125,82,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(234,113,97,1) 0%, rgba(244,125,82,1) 100%);
    background: linear-gradient(45deg, rgba(234,113,97,1) 0%, rgba(244,125,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea7161', endColorstr='#f47d52', GradientType=1 );
}

.input-style {
    display: block;
    width: 100%;
    padding: 9px 18px 11px;
    height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    line-height: 30px;
    color: #333;
    -webkit-box-shadow: 0 1px 8px 0 rgba(63, 49, 66, 0.1);
    -moz-box-shadow: 0 1px 8px 0 rgba(63, 49, 66, 0.1);
    box-shadow: 0 1px 8px 0 rgba(63, 49, 66, 0.1);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.input-style::-webkit-input-placeholder { color: #aaa; }
.input-style::-moz-placeholder { color: #aaa; }
.input-style:-ms-input-placeholder { color: #aaa; }
.input-style:-moz-placeholder { color: #aaa; }
textarea.input-style {
    height: 110px;
    line-height: 1.4;
    resize: none;
    padding-top: 15px;
}
.input-style:focus {
    -webkit-box-shadow: 0 2px 12px 0 rgba(63, 49, 66, 0.2);
    -moz-box-shadow: 0 2px 12px 0 rgba(63, 49, 66, 0.2);
    box-shadow: 0 2px 12px 0 rgba(63, 49, 66, 0.2);
}

.col { float: left; padding: 0 10px; }
.col-1 { width: 100%; }
.col-2 { width: 50%; }
.col-3 { width: 33.33%; }
.col-3_2 { width: 66.66%; }
.col-4 { width: 25%; }

.wrapper {
    position: relative;
    padding-top: 120px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    overflow: hidden;
    position: fixed;
    z-index: 99990;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 35px 0;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}
.admin-bar .header {
    top: 32px;
}
.header.scroll-js {
    padding: 15px 0;
}
    .logo {
        float: left;
        max-width: 300px;
        margin-top: 5px;
        margin-right: 20px;
    }
        .logo img {
            max-width: 100%;
            height: auto;
        }

    .navigation {
        float: right;
    }
        .navigation ul:not(.sub-menu) > li {
            float: left;
            padding: 14px 20px 16px;
        }
            .navigation li:not(.btn-box) a {
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
            }
            .navigation a:hover {
                text-decoration: none;
            }
            .current-menu a {
                color: #f47c52;
                text-decoration: none;
            }
        .navigation ul:not(.sub-menu) li.btn-box {
            padding: 0 0 0 80px;
        }

    .tel-wrap {
        overflow: hidden;
        padding-left: 50px;
        padding-right: 20px;
    }
        .tel-wrap .fa {
            float: left;
            margin: 5px 8px 0 0;
            color: #f47b51;
            font-size: 36px;
        }
        .tel-wrap .tel-content {
            overflow: hidden;
            display: table-cell;
            height: 46px;
            vertical-align: middle;
            font-size: 18px;
            line-height: 1.25;
            font-weight: 600;
            text-align: left;
        }

    .mobile-menu-wrap,
    .mobile-menu-toggle {
        display: none;
    }
    .mobile-menu-wrap {
        position: fixed;
        z-index: 9999;
        right: 0;
        height: 0;
        width: 0;
        top: 80px;
        -webkit-transition-delay: 0.35s;
        -moz-transition-delay: 0.35s;
        -ms-transition-delay: 0.35s;
        -o-transition-delay: 0.35s;
        transition-delay: 0.35s;
    }
    .admin-bar .mobile-menu-wrap {
        top: 112px;
    }
    .mobile-menu-wrap.showing {
        height: 100%;
        width: 100%;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
        .mobile-menu-overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.25);
            opacity: 0;
            -webkit-transition: opacity 0.35s;
            -moz-transition: opacity 0.35s;
            -o-transition: opacity 0.35s;
            transition: opacity 0.35s;
        }
        .showing .mobile-menu-overlay {
            opacity: 1;
        }
        .mobile-menu-box {
            width: 320px;
            max-width: 85%;
            background-color: #FFF;
            position: absolute;
            right: -320px;
            z-index: 2;
            -webkit-transition: right 0.35s;
            -moz-transition: right 0.35s;
            -o-transition: right 0.35s;
            transition: right 0.35s;
            height: 100%;
            overflow: auto;
            -webkit-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
            -moz-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
            -ms-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
            -o-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
            box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
            padding-bottom: 100px;
        }
        .showing .mobile-menu-box {
            right: 0;
        }
            .donate-mobile {
                overflow: hidden;
                padding: 15px 10px;
            }
                .donate-mobile .btn.donate {
                    float: none;
                    width: 100%;
                    margin: 0 auto;
                    padding: 16px 15px 14px;
                    font-size: 18px;
                }
            .mobile-menu-box .tel-wrap {
                display: none;
                padding: 10px 15px 5px;
            }
                .mobile-menu-box .tel-wrap .fa {
                    margin-right: 10px;
                    margin-top: 4px;
                    font-size: 38px;
                }
                .mobile-menu-box .tel-wrap .tel-content {
                    height: 50px;
                    font-size: 20px;
                }
            .mobile-menu .btn-box {
                padding: 20px 15px;
                text-align: center;
            }
                .mobile-menu li:not(.btn-box) a {
                    position: relative;
                    display: block;
                    padding: 14px 15px;
                    font: 600 18px/1.25 "Open Sans";
                    border-bottom: 1px solid #E5E5E5;
                    text-transform: none;
                }
                .mobile-menu li:not(.btn-box) a:hover,
                .mobile-menu .current-menu-item:not(.btn-box) > a,
                .mobile-menu .current_page_item:not(.btn-box) > a,
                .mobile-menu .current-menu-parent:not(.btn-box) > a,
                .mobile-menu .current-menu-ancestor:not(.btn-box) > a,
                .mobile-menu .current-page-ancestor:not(.btn-box) > a {
                    background: #f5f8fa;
                    color: #4090f5;
                    text-decoration: none;
                }
                .mobile-menu .btn-box a {
                    width: 100%;
                }
            .mobile-menu .sub-menu {
                display: none;
            }

    .mobile-menu-toggle {
        position: absolute;
        right: 0;
        top: 0;
        height: 80px;
        width: 80px;
        background-color: transparent;
        vertical-align: middle;
        cursor: pointer;
        font-size: 26px;
    }
        .mobile-menu-toggle span:before,
        .mobile-menu-toggle span:after,
        .mobile-menu-toggle span {
            content: '';
            cursor: pointer;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            height: 4px;
            width: 30px;
            background-color: #4090f5;
            position: absolute;
            display: block;
            -webkit-transition: all 0.35s;
            -moz-transition: all 0.35s;
            -o-transition: all 0.35s;
            transition: all 0.35s;
        }
        .mobile-menu-toggle span {
            left: 50%;
            top: 50%;
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .mobile-menu-toggle span:before {
            top: -9px;
        }
        .mobile-menu-toggle span:after {
            bottom: -9px;
        }
        .mobile-menu-toggle.active span {
            background-color: transparent;
        }
        .mobile-menu-toggle.active span:before {
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 0;
        }
        .mobile-menu-toggle.active span:after {
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            bottom: 0;
        }
        .mobile-menu-toggle.active span:before,
        .mobile-menu-toggle.active span:after {
            background-color: #f47b51;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.banner-section {
    display: table;
    width: 100%;
    height: 100vh;
    height: -webkit-calc(100vh - 120px);
    height: -moz-calc(100vh - 120px);
    height: calc(100vh - 120px);
    position: relative;
    margin-bottom: 25px;
    background: #3f3142;
}
.admin-bar .banner-section {
    height: -webkit-calc(100vh - 152px);
    height: -moz-calc(100vh - 152px);
    height: calc(100vh - 152px);
}
    .banner-img-bg {
        display: table-cell;
        float: none;
        vertical-align: top;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
        .banner-img {
            display: none;
        }
    .samples-wrap {
        display: table-cell;
        float: none;
        vertical-align: top;
        padding: 60px 70px 180px;
    }
        .samples-wrap .title {
            padding-top: 0;
            margin-bottom: 6px;
            font-size: 34px;
            line-height: 1.25;
            text-align: left;
        }
        .samples-wrap .description {
            font-size: 18px;
            line-height: 1.4;
            text-align: left;
        }
            .samples-wrap .description p:not(:last-child) {
                margin-bottom: 6px;
            }
    .cta-line {
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 40px 20px;
        background: url(../img/cta_bg.png) no-repeat center;
        background-size: cover;
        text-align: center;
    }
        .cta-line .btn {
            -webkit-box-shadow: 0 0 30px 0 rgba(100, 126, 254, 0.5);
            -moz-box-shadow: 0 0 30px 0 rgba(100, 126, 254, 0.5);
            box-shadow: 0 0 30px 0 rgba(100, 126, 254, 0.5);
        }

.services-section {
    padding-top: 24px;
    padding-bottom: 30px;
}
    .services-list {
        padding-top: 17px;
    }
        .services-list > li {
            overflow: hidden;
            display: table;
            margin-bottom: 15px;
        }
        .services-list > li:last-child {
            margin-bottom: 0;
        }
            .icon-wrap {
                float: left;
                position: relative;
                width: 180px;
                height: 180px;
                background: #fcf5eb;
                -webkit-border-radius: 90px;
                -moz-border-radius: 90px;
                border-radius: 90px;
                text-align: center;
                line-height: 176px;
            }
                .icon-wrap img {
                    max-width: 90%;
                    max-height: 90%;
                    height: auto;
                    width: auto;
                    vertical-align: middle;
                }
                .services-list .icon-wrap:before,
                .services-list .icon-wrap:after {
                    content: '';
                    position: absolute;
                    width: 50%;
                    left: 50%;
                    height: 2px;
                    background: #fcf5eb;
                }
                .services-list .icon-wrap:before {
                    top: 0;
                }
                .services-list .icon-wrap:after {
                    bottom: 0;
                }
            .services-list__content {
                display: table-cell;
                height: 180px;
                width: 100%;
                vertical-align: middle;
                padding: 10px 20px 10px 40px;
                border: 2px solid #fcf5eb;
                border-left: none;
                -webkit-border-radius: 0 6px 6px 0;
                -moz-border-radius: 0 6px 6px 0;
                border-radius: 0 6px 6px 0;
            }
                .services-list__title {
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

.about-section {
    position: relative;
    padding-top: 95px;
    padding-bottom: 35px;
    background: #fcf5eb;
}
    .about-section:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 35px;
        width: 100%;
        background: url(../img/rectangle_section.png) repeat-x top left transparent;
        background-size: contain;
    }
    .about-section .description {
        max-width: 580px;
    }

.contact-section {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -10px;
    background: rgba(252,245,235,1);
    background: -moz-linear-gradient(top, rgba(252,245,235,1) 0%, rgba(252,245,235,1) 50%, rgba(63,49,66,1) 50%, rgba(63,49,66,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,245,235,1)), color-stop(50%, rgba(252,245,235,1)), color-stop(50%, rgba(63,49,66,1)), color-stop(100%, rgba(63,49,66,1)));
    background: -webkit-linear-gradient(top, rgba(252,245,235,1) 0%, rgba(252,245,235,1) 50%, rgba(63,49,66,1) 50%, rgba(63,49,66,1) 100%);
    background: -o-linear-gradient(top, rgba(252,245,235,1) 0%, rgba(252,245,235,1) 50%, rgba(63,49,66,1) 50%, rgba(63,49,66,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,245,235,1) 0%, rgba(252,245,235,1) 50%, rgba(63,49,66,1) 50%, rgba(63,49,66,1) 100%);
    background: linear-gradient(to bottom, rgba(252,245,235,1) 0%, rgba(252,245,235,1) 50%, rgba(63,49,66,1) 50%, rgba(63,49,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf5eb', endColorstr='#3f3142', GradientType=0 );
}
    .contact-box {
        overflow: hidden;
        background: #fcf9f5;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 8px 0 rgba(63, 49, 66, 0.15);
        -moz-box-shadow:    0 0 8px 0 rgba(63, 49, 66, 0.15);
        box-shadow:         0 0 8px 0 rgba(63, 49, 66, 0.15);
    }
    .contact-section .contact-box {
        display: table;
        width: 100%;
    }
        .form-wrap {
            display: table-cell;
            width: 64%;
            padding: 50px 60px 60px;
        }
            .form-wrap .title {
                padding-top: 0;
                font-size: 34px;
                line-height: 1.25;
                text-align: left;
            }

            .form-box {
                padding-top: 25px;
                margin-bottom: -10px;
            }
                .form-list {
                    margin: 0 -10px;
                }
                    .form-list li {
                        overflow: hidden;
                        padding: 10px 0;
                    }
                    .form-list li:last-child {
                        margin-bottom: 0;
                    }
                        .form-list .g-recaptcha {
                            float: left;
                            padding: 0 10px;
                        }
                        .form-list .col-send {
                            overflow: hidden;
                            width: 50%;
                        }
                        .form-list .g-recaptcha + .col-send {
                            float: none;
                            width: auto;
                        }
                            .form-list .col-send .btn {
                                width: 100%;
                            }
                            .form-list .g-recaptcha + .col-send .btn {
                                margin-top: 13px;
                            }

        .info-wrap {
            display: table-cell;
            width: 36%;
            position: relative;
            padding: 38px 30px 100px 38px;
        }
            .info-wrap .sub-title {
                margin-bottom: 38px;
            }
            .info-wrap a {
                color: #fff;
            }
            .info-list {
                margin-bottom: 36px;
            }
            .info-list,
            .info-list a {
                font-size: 18px;
                font-weight: 600;
            }
                .info-list > li {
                    margin-bottom: 10px;
                }
                    .info-list .fa {
                        font-size: 18px;
                        color: #c93f46;
                    }
                    .info-list .fa-phone {
                        font-size: 20px;
                    }
                    .icon-box {
                        display: inline-block;
                        min-width: 30px;
                    }
            .social-wrap {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                min-height: 80px;
                padding: 5px 22px;
                border-top: 2px solid #f08e7e;
            }
                .social-list {
                    overflow: hidden;
                    display: table-cell;
                    vertical-align: middle;
                    height: 66px;
                }
                    .social-list > li {
                        float: left;
                        padding: 0 15px;
                    }
                        .social-list a {
                            font-size: 22px;
                            color: #f5b8b0;
                        }
                        .social-list a:hover,
                        .orange-bg .social-list a:hover {
                            text-decoration: none;
                            color: #fff;
                        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    background: #3f3142;
    padding: 40px 0;
}
    .copyright {
        text-align: center;
        color: #807184;
    }

/*----------------------------------------------------------------------------------*/
/*-----------------------------------RESPONSIVE-------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media all and (max-width: 1180px) {
    .btn, a.btn, .btn-box a {
        min-width: 150px;
    }
    .navigation ul:not(.sub-menu) > li {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navigation ul:not(.sub-menu) li.btn-box {
        padding-left: 15px;
    }
    .tel-wrap {
        padding-left: 20px;
        padding-right: 10px;
    }
    .samples-wrap {
        padding: 40px 50px 140px;
    }
    .cta-line {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
@media all and (max-width: 1024px) {
    .wrapper {
        padding-top: 80px;
    }
    .header {
        padding: 15px 0;
        min-height: 80px;
    }
    .logo {
        margin-top: 7px;
    }
    .tel-wrap {
        padding: 2px 100px 0 30px;
    }

    .mobile-menu-wrap,
    .mobile-menu-toggle {
        display: block;
    }
    .navigation {
        display: none;
    }

    .banner-section {
        height: -webkit-calc(100vh - 80px);
        height: -moz-calc(100vh - 80px);
        height: calc(100vh - 80px);
    }
    .admin-bar .banner-section {
        height: -webkit-calc(100vh - 112px);
        height: -moz-calc(100vh - 112px);
        height: calc(100vh - 112px);
    }
}
@media all and (max-width: 860px) {
    .samples-wrap {
        padding: 30px 30px 140px;
    }
    .title {
        padding-top: 18px;
        margin-bottom: 14px;
        font-size: 28px;
    }
    .samples-wrap .title,
    .samples-wrap .title {
        font-size: 30px;
    }
    .samples-wrap .description {
        font-size: 17px;
    }
}
@media all and (max-width: 768px) {
    .banner-img {
        display: inline-block;
        opacity: 0;
        max-width: 100%;
    }
    .banner-img-bg {
        width: 30%;
    }
    .samples-wrap {
        width: 71%;
        padding-bottom: 120px;
    }
    .cta-line {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media all and (max-width: 767px) {
    .tel-wrap {
        display: none;
    }
    .mobile-menu-box .tel-wrap {
        display: block;
    }
}
